.appointment-history-content {
    text-align: left;
    overflow-y: auto;
    overflow-x: hidden;
}

.appointment-list-content {
    background-color: #F0F2F3;
    margin-top: 3rem;
    padding: 0.5rem;
}

.appointment-doctor-details {
    padding: 0.5rem;
    width: 27rem;
    height: 8.5rem;
}

.add-prescription-container {
    border: 2px solid rgb(189, 189, 189);
    padding: 3rem;
}

.medicine-table-headings {
    background-color: rgb(209, 209, 209);
    padding: 0.5rem;
}

.navbar-right1 {
  position: absolute;
  top: 2rem;
  right: 5rem;
  display: inline-flex;
  color: white;
}

.medicine-table {
    padding: 0.5rem;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }